

/* body {
    margin:50px 0px; padding:0px;
    text-align:center;
    align-items: center;
} */
.listmain .header input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(4, 156, 167);
    color: rgb(1, 8, 1);
    width: 185px;
    

}

.blue{
    color: rgb(69, 8, 238);
}

.green{
    color: rgb(30, 232, 124);
}

.listmain .header button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 10px;
    background-color: deepskyblue;
    color: rgb(20, 226, 1);
    border: 2px solid rgb(4, 142, 167);
    align-items: center;
   
}
.listmain .header button:hover{
     cursor: pointer;
}

.listmain .theList li {
    padding: 10px;
    background-color: deepskyblue(255, 255, 255, .5);
    color: rgb(240, 10, 10);
    border-radius: 5px;
    margin-bottom: 15px;
    
}
